
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

    h1 {
        margin: 0;
        font-family: 'Orbitron', sans-serif;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: #2EB1E2;
        color: aquamarine;
      
    }
